@using LaptopShopApp.Infrastructure.Data.Domain
@model IList<LaptopShopApp.Models.Order.OrderIndexVM>

@{
    ViewData["Title"] = "Index";
}
<h3 class="text-center mb-4">All Orders</h3>

<form asp-controller="Order" asp-action="UpdateStatus" method="post">
    <button type="submit" class="btn btn-outline-primary">Save changes</button>

    @for (int i = 0; i < Model.Count; i++)
    {
        var statuses = Html.GetEnumSelectList<OrderStatus>();

        <details>
            <summary>
                <div class="d-flex justify-content-between">
                    <span>@Model[i].OrderId</span>
                    <span>@Model[i].UserName</span>
                    <span>@Model[i].DateTime</span>
                    <span>@Model[i].Address</span>
                    <span>@Model[i].TotalPrice</span>

                    <select asp-for="@Model[i].OrderStatus" class="form-control d-inline w-auto" asp-items="@statuses"></select>
                    <input asp-for="@Model[i].OrderId" type="hidden" />
                </div>
            </summary>
    


            @foreach (var product in Model[i].OrderProducts)
            {
                <div class="d-flex border rounded p-2">
                    <div class="mr-20">
                        <img src="@product.Pic" height="150" width="150" />
                    </div>
                    <div>
                        <div>
                            <h5 class="text-center"><a>@product.ProductName</a></h5>
                        </div>
                        <div>
                            <p class="m-0"><strong>Description:</strong> @product.Discription</p>
                        </div>
                        <div>
                            <p class="m-0"><strong>Price:</strong> @product.Price</p>
                        </div>
                        <div>
                            <p class="m-0"><strong>Quantity:</strong> @product.Quantity</p>
                        </div>
                    </div>
                </div>
                <hr />
            }
        </details>
    }
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}