<head>
    <link rel="stylesheet" href="~/css/ProductIndex.css" />
</head>
@model IEnumerable<LaptopShopApp.Models.Product.ProductIndexVM>
@{
    ViewData["Title"] = "Index";
}
<h1 style ="display:flex; justify-content:center;">Products</h1>
@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}
<form asp-controller="Product" asp-action="Index" method="get">
    <p style="display:flex; justify-content:center;">
        Brand: <input type="text" name="SearchStringBrandName" />  Category: <input type="text" name="SearchStringCategoryName" />
        <input type="submit" value="Filter" />
    </p>
</form>
<div class="product-container">
    @foreach (var item in Model)
    {
        
        <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; color: inherit;"/>
        <div class="product-card" style="width:380px;">
            <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image">
            <hr />
            <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3>
            <p><strong>Category:</strong> @Html.DisplayFor(modelItem => item.CategoryName)</p>
            <p><strong>Discription:</strong>@Html.DisplayFor(modelItem => item.Discription)</p>
            <p><strong>Quantity:</strong> @Html.DisplayFor(modelItem => item.Quantity)</p>
            @if (item.HasDiscount)
            {
                <strong>Price:</strong>
                <span style="text-decoration: line-through; color: darkred;">@item.Price lv.</span>
                <span style="font-weight: bold; font-size: 20px; color: green;">@item.PriceWithDiscount lv.</span>
            }
            else
            {
                <strong>Price:</strong>
                <span>@item.Price</span>
            }
            <p><strong>Discount:</strong> @Html.DisplayFor(modelItem => item.Discount) %</p>

            
        </div>
    }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

