<head>
    <link rel="stylesheet" href="~/css/ProductIndex.css" />
</head>
@model IEnumerable<LaptopShopApp.Models.Product.ProductIndexVM>
@{
    ViewData["Title"] = "Index";
}
<h1>Products</h1>
@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}
<form asp-controller="Product" asp-action="Index" method="get">
    <p>
        Brand: <input type="text" name="SearchStringBrandName" />  Category: <input type="text" name="SearchStringCategoryName" />
        <input type="submit" value="Filter" />
    </p>
</form>
<div class="product-container">
    @foreach (var item in Model)
    {
        
        <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; color: inherit;"/>
        <div class="product-card">
            
            <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3>
            <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image">
            <p><strong>Category:</strong> @Html.DisplayFor(modelItem => item.CategoryName)</p>
            <p><strong>Discription:</strong>@Html.DisplayFor(modelItem => item.Discription)</p>
            <p><strong>Quantity:</strong> @Html.DisplayFor(modelItem => item.Quantity)</p>
            <p><strong>Price:</strong> $@Html.DisplayFor(modelItem => item.Price)</p>
            <p><strong>Discount:</strong> @Html.DisplayFor(modelItem => item.Discount) %</p>

            <div class="buttons">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a asp-action="Add" asp-controller="ShoppingCart" asp-route-productId="@item.Id" class="btn btn-warning text-white">Add To Cart</a>
                }

                @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

